@import '_functions';

//Váriavel de font-base
$basefontsize: 16 !default;

$color-black: #000;
$color-gray: #b3b3b3;
$color-white: #fff;
$color-blue: #003380;
$button-active: #fc0;
$button-inative: #ccc;